mat-spinner {
  margin: 32px auto;
}

mat-card {
  max-width: 320px;
  margin: 20px auto;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.name {
  font-weight: bold;
  line-height: 36px;
  flex: 1;
}

button {
  flex: 0;
}

.inline-button {
  min-width: 78px;
}
